 .table1{ border-bottom:1px solid #CCCCCC;border-left:1px solid #CCCCCC; margin:0px auto 5px;}
 .td1_1{ border-top:1px solid #CCCCCC;border-right:1px solid #CCCCCC; padding:2px 5px; background-color:#DDEEFE; font-weight:bold; text-align:center; color:#133163;}
 .td1_2{ border-top:1px solid #CCCCCC;border-right:1px solid #CCCCCC; padding:2px 5px; background-color:#EEF7FF; }
 .td1_3{ border-top:1px solid #CCCCCC;border-right:1px solid #CCCCCC; padding:2px 5px; }
 .td1_4{ border-bottom:1px solid #CCCCCC; padding:2px 5px; text-align:center; line-height:23px; }
 .td1_5{ border-top:1px solid #CCCCCC; padding:2px 5px; background-color:#EEF7FF; }
body
{
	font-size:12px;
}

/*------------针对强类型视图index 开始----------------*/
.table {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    margin: 0px auto 5px;
    width: 100%;
}

    .table th {
        background: #0068b7;
        color: #FFFFFF;
        height: 30px;
        vertical-align: middle;
        text-align:center;
        border-collapse: collapse;
        border-right:1px solid #FFF;
        font-size: 14px;
    }

    .table tr:hover {
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
        padding: 2px 5px;
        background-color: #EEF7FF;
    }

    .table td {
        border-top: 1px solid #CCCCCC;
        padding: 2px 5px;
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
    }

/*------------针对强类型视图index 结束----------------*/
.DivPager {
    height:35px;bottom:0px;position:relative;width:100%;
    line-height:35px;
}

.width70 {
    width:70%;
}