<!DOCTYPE html>
@{ ViewBag.Title = "vivo Festive Celebrations";}
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Scripts/layer.mobile-v2.0/layer_mobile/need/layer.css" rel="stylesheet" />
    <script src="~/Scripts/layer.mobile-v2.0/layer_mobile/layer.js"></script>
    <title>@ViewBag.Title</title>
    <script type="text/javascript">
        var infoWechatUserReturn = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.infoWechatUserReturn));

    </script>
	
    <link rel="stylesheet" type="text/css" href="/Content/css/index.css?v=b79b3b">
	<link rel="stylesheet" type="text/css" href="images/shake.css?v=bbb">
	
</head>
<body >
    <div id="wrapper"  >
        <div id="bg1-1" class="bg">
            <img src="images/a1.jpg">
        </div>
        <!--<div id="bg1-2" class="bg"><img src="images/bg1/bg2.jpg"></div>
        <div id="bg1-3" class="bg"><img src="images/bg1/bg3.jpg"></div>
        <div id="bg1-4" class="bg"><img src="images/bg1/bg4.jpg"></div>-->
		
		
		<div id="bg1-7" class="bg">
            <!--<img src="images/bg1/bg5.jpg">-->
            <div class="wrapperbtn">
               						
				<img src="images/buy.png?v=33" class="eye" />
					   
            </div>
        </div>
		
		
		<div id="bg1-6" class="bg">
            <!--<img src="images/bg1/bg5.jpg">-->
            <div class="wrapperbtn">
               						
				<img class="shake shake-opacity" src="images/win.png" class="eye" />
					   
            </div>
        </div>
		
		
        <div id="bg1-5" class="bg">
            <!--<img src="images/bg1/bg5.jpg">-->
            <div class="wrapperbtn shake2"  >
               						
				<img src="images/zhiwen.png"  />
					   
            </div>
        </div>
    </div>

    <div id="info">
        <div id="bg2-1" class="bg"><img src="images/a2_1.jpg?v=12"></div>
        <div id="bg2-2" class="bg">
            <img src="images/a2_2.jpg?v=12">
            <div class="sendInfo">
                <input type="text" name="name" id="username" placeholder="Name：" >
				 <input type="text" name="Address" id="Address" placeholder="Store Add：">
                <input type="text" name="phoneNum" id="usernum" placeholder="Tel：">
                <div class="codebox">
                    <input type="text" name="codeNum" id="codenum" placeholder="SN：">
                    <span class="codebtn">[—]</span>
                </div>
				<select  type="text" name="" id="" placeholder="Area：">
				<option value="">Choose Area</option>  
				   <option value="HYD KA - 1">HYD KA - 1</option>  
				   
        <option value="HYD KA - 2">HYD KA - 2</option>   
        <option value="HYD NORTH">HYD NORTH</option>   
        <option value="HYD SOUTH">HYD SOUTH</option>   
        <option value="KARIMNAGAR">KARIMNAGAR</option>   
		  <option value="KARIMNAGAR">KHAMMAM</option>   
		    <option value="KARIMNAGAR">MAHBUBNAGAR</option>   
			  <option value="KARIMNAGAR">MEDAK</option>   
			    <option value="KARIMNAGAR">NALGONDA</option>   
				  <option value="KARIMNAGAR">NIZAMABAD</option>   
				  <option value="KARIMNAGAR">SHOWROOM</option>   
				  <option value="KARIMNAGAR">WARANGAL</option>   
            
      </select>  
				
				
            </div>
        </div>
        <div id="bg2-3" class="bg">
            <img src="images/a2_3.jpg?v=12">
            <div class="infobtn">
                <img src="images/a2_but.png" class="okbtn" alt="">
                <a href="#" class="rulebtn">Activity Rules</a>
            </div>
        </div>
    </div>

    <div id="rule">
        <div id="close"><img src="/images/bg3/close.jpg" alt=""></div>
        <div id="bg3-1" class="bg"><img src="/images/bg3/bg.jpg?v=2569"></div>
        <div id="columLine"></div>
        <div id="rulecontent" >
           <p><span class="ringbol"></span><span class="headname"> 购机抽奖时间:</span>  10月1日——11月15日</p>
			<p><span class="ringbol"></span><span class="headname"> 活动对象:</span><br><span class="text">活动期间所有购买vivo手机的用户</span></p>
			<p><span class="ringbol"></span><span class="headname"> 购机抽奖奖品:</span><br><span class="text">特等奖：旅游基金<br>
			
			一等奖：vivo手机<br>
二等奖：现金红包 <br>三等奖：运动水杯<br></span></p>
            <p>
                <span class="ringbol"></span><span class="headname"> 抽奖方式:</span><br>
                <span class="text">购买手机获得SN码，进入抽奖页面进行抽奖。</span>
            </p>
            <p>
                <span class="ringbol"></span><span class="headname"> 常见问题:</span><br><span class="text">
                    Q1、网络故障，请稍后再试。<br>
                    A1：点击活动页面右上角菜单栏，点击刷新3次。<br>
                    Q2、您的礼品已经被领取，请勿重复领取。<br>
                    A2：串码未妥善保管，已被他人抽奖。购买机器时，请及时进行抽奖。<br>
                    Q3、今天购买手机，由于系统原因没有进行及时抽奖，第二天可以继续参与吗？<br>
                    A3：购买手机第二天依然可以参与抽奖。<br>
                    Q4：抽取到的礼品如何进行领取？<br>
                    A4：请抽奖的顾客填写认真正确姓名、联系方式。<br>
                   本活动最终解释权归vivo所有
                </span>
            </p>
        </div>
    </div>

    <div id="prize">
        <div class="prizeiqiyi goods" style="display:none;" id="good3" tips="说明：这个div是三等奖">
            <div class="iqiyiimg">
                <img src="/images/bg4/iqiyi2.png" alt="" class="iqiyi">
            </div>
            <p>爱奇艺会员</p>
            <input id="vipnum" readonly="text" value="test-num"><br>
            <button class="copy" data-clipboard-target="#vipnum">点击复制</button>
            <p class="att">会员卡或激活码可用来激活爱奇艺VIP会员身份，激活码不可兑换现金，使用时间自激活起一个月。激活方法：<br>1， 请使用：PC网页或安卓系统客户端注册登录账号；<br>2， 点击开通会员支付中心，选择激活码支付；<br>3， 输入正确激活码和验证码；<br>4， 点击【下一步】完成支付；</p>
            <!-- <div class="copy" data-clipboard-action="copy" data-clipboard-target="#vipnum">复制</div> -->
            <p class="sure">确定</p>
        </div>
        <div class="prizex9splus goods" style="display:none;" id="good2" tips="说明：这个div是二等奖">

            <img src="images/a3_3.png" alt="">
        </div>
        <div class="prizex9splus goods" style="display:none;"  id="good1" tips="说明：这个div是一等奖">
            <img src="images/a3_2.png" alt="">
        </div>
    </div>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <!--<script type="text/javascript" src="js/jquery.min.js"></script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="/Scripts/index.js?v=4e4536511d9o"></script>
	
	
	
</body>
</html>