@using Vivo.Model;
@using Vivo.web.Areas.MP.Controllers;

@{
    ViewBag.Title = "自定义菜单编辑";
    Layout = "~/Areas/MP/Views/Shared/_Layout.cshtml";
}

@section head{
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table cellpadding="0" cellspacing="0" width="100%" border="0" class="table1">
        <tr>
            <td class="td1_2">
                菜单结构
            </td>
            <td class="td1_3">
                @Html.TextArea("menuJson",(string)ViewBag.menuJson, new { @style="height:500px;width:100%", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td class="td1_2" colspan="2">
                <input type="submit" class="btn btn-default" value="提交" />
            </td>
        </tr>
    </table>
}

