INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
TEXTAREA {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}

body
{
	margin: 0px;
	padding:0px;
	color:#333;
	font-size:12px;
}
a{	text-decoration: none; color:#333;}
a,a:link{ text-decoration:none;}
a:hover{ text-decoration:underline; color:#000;}
input{ padding:2px 3px;  }
img{border: 0px;}

.MeunContainer{ text-align:left; margin-top:4px;}
.MeunFirst{ background:url(/images/menu4_Master.png) no-repeat;text-align:center; width:165px; height:27px;  line-height:27px;color:#FFF;font-weight:bold;cursor:pointer; }
.LeftMeunUl{ padding:0px; margin:0px; }
.LeftMeunUl li{ list-style:none;height:30px; line-height:30px; text-align:center;}
.LeftMeunUl li a{color:#FFF;}
/*.LeftMeunUl li:hover{ background:url(/images/menu4_Focus_0.png) no-repeat; list-style:none;height:39px; line-height:39px; padding-left:28px;}*/
/*.LeftMeunUl li:hover a{ color:#eb4815;}*/
.LeftMeunUl li.active{ background:url(/images/menu4_Focus_0.png) no-repeat; list-style:none;height:39px; line-height:39px; padding-left:28px;}
.LeftMeunUl li.active a{ color:#eb4815;}
