@using Vivo.Model;
@using Vivo.IBLL;
@using Vivo.BLLFactory;

@model Vivo.Model.UserInfo
@{
    ViewBag.Title = "Note";
    Layout = "~/Areas/MP/Views/Shared/_Layout.cshtml";

}

<div style="margin:20px">


    <div class="bs-example" data-example-id="contextual-panels">

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">当前系统版本V17.07.27</h3>
            </div>
            <div class="panel-body">

                <br />
                <br />
                <br />
                copy rights @@    all rights reserved

            </div>
        </div>
        @*<div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>*@
    </div>

</div>