<div style="height:90px;"></div>
<div data-role="footer" style="text-align:center;font-family:Arial;position:fixed;bottom:0px;width:100%;text-align:center;background-color:#EFEFEF;">
    <div style="margin:5px;">CopyRight  © 2017</div>
    <div style="margin:5px;">
        荔湾区教育发展研究中心
    </div>
</div>

