.TdMenuContainer {
}
.TdMenuContainer .UlMenu1 li{
    height:70px;vertical-align:middle;
    text-align:center;
    cursor:pointer;
    border-right:1px solid #CCC;
    border-top:1px solid #F4F4F4;
    border-bottom:1px solid #F4F4F4;
}
    .TdMenuContainer .UlMenu1 li:hover {
        color:#0477C0;
        border-right:none;
        border-top:1px solid #CCC;
        border-bottom:1px solid #CCC;
    }
.DivMenu2 {
    padding:3px;
    border-bottom:1px solid #188eee;
    margin:3px;
}
.DivMenu2 h2{
    color:#039AE3;
    font-size:16px;
}
.DivMenu3 a{
    display:block;
    float:left;
    margin:4px;
    font-size:14px;
}
.DivMenu4 {
    border:1px solid #DDEEFE;
}
.DivMenu4 a{
    display:block;
    float:left;
    margin:4px;
    font-size:12px;
}
/*--------------------------------------------------------------------------------*/
.UlProductUpdateTitle {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .UlProductUpdateTitle .liType {
        float: left;
        width: 50%;
        height: 40px;
        line-height: 40px;
        /*border: 1px solid #000000;*/
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        cursor: pointer;
        margin-bottom: 3px;
    }

.MenuHover {
    border-bottom: 2px solid #188eee;
    color: #188eee;
}
/*-------------------------------------下边是搜索栏-------------------------------------------*/
.UlSchItem {
    margin-top: 10px;
}

    .UlSchItem li {
        float: left;
        width: 120px;
        margin: 2px;
    }

    .UlSchItem select {
        width: 100%;
        height: 30px;
        line-height: 30px;
        border-radius: unset;
    }

.DivSchItem {
    height: 48px;
    padding-left: 10px;
    border-bottom: 1px solid #CCC;
}

.DivBtnSch {
    float: right;
    width: 60px;
    height: 30px;
    position:relative;
    right:0px;
    top:0px;
    line-height: 30px;
    cursor: pointer;
    background-color: #188EEE;
    background: url(/images/icon_Sch30.jpg) no-repeat;
}

/*-------------------------------------下边是搜索结果样式-------------------------------------------*/

        .VideoTitle {
            font-size:22px;line-height:24px;color:#202020;padding-bottom:16px;width:400px;font-weight:normal;
            cursor:pointer;
        }
        .ItemStatus {
            position: absolute;
            width: 204px;
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            color: #fff;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#99000000', endColorstr='#99000000');
            background-color: rgba(0,0,0,0.6);
            margin-top: -26px;
            overflow: hidden;
            padding-left: 10px;
        }

.ULVideoCollection {
}

    .ULVideoCollection li {
        float: left;
        margin: 10px 4px;
        height: 210px;
        overflow: hidden;
        width: 227px;
        border: 1px solid #EFEFEF;
    }

.DivLiSub {
    width: 215px;
    height: 123px;
    padding: 5px;
    overflow: hidden;
    cursor:pointer;
}

    .DivLiSub .NewFlag {
        position: absolute;
        z-index: 1;
        left: 0px;
        top: 0px;
    }

    .DivLiSub img {
        max-width: 215px;
        max-height: 115px;
    }

    .DivLiSub:hover {
        /*border: 1px solid #DDD;
            -moz-box-shadow: 1px 1px 1px #DDD;
            box-shadow: 1px 1px 1px #DDD;*/
    }

    .DivLiSub td {
        text-align: center;
        height: 123px;
        vertical-align: middle;
        background-color: #EEE;
        position: relative;
        border-radius: 3px;
    }

.DivLiSubTitle {
    font-size: 14px;
    height: 75px !important;
    margin-bottom: 2px;
    overflow: hidden;
    position: relative;
    z-index:2;
    color: #333;
}

.ImgLoading{
    position:absolute;z-index:3; width:100%;text-align:center;width:214px;height:120px;
    color:#FFF;
    padding-top:30px;
    display:none;
}
    .ImgLoading div, .ImgLoading img {
        position:relative;
    }
    .ImgLoading img {
        width:35px;
    }